footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgroud-color);
    color: var( --text-color-secondary);
    font-family: var(--font-family);
    margin-top: 25px;
    margin-bottom: 25px;
}

.container_footer {
    margin-left: 150px;
    justify-content: left;
}

.footer_links {
    display: flex;
    padding-block: 20px;
    gap: 20px;
    justify-content: right;
    margin-left: 150px;
    text-decoration: none;
}
