footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 32px; /* Alinhado com o resto do site */
    max-width: 1280px;
    margin: 25px auto;
}

.container_footer, .footer_links {
    margin-left: 0; /* Remova o margin fixo */
}
